*{
    padding:0;
    margin:0;
    font-family: 'Poppins' sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7fc0e6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0dc7f5; 
}

      body{
        margin:0;
        padding:0;
        background: rgb(240, 234, 235);
      }
      .scroll-bg{
        background:rgb(22, 15, 15);
        width:400px;
        margin:10% auto;
        padding: 10px;
        border-radius: 10px;
      }
      .scroll-div{
        width:400px;
        background:rgb(221, 149, 193);
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
      }
      .scroll-object{
        color:rgb(11, 11, 12);
        font-size:20px;
        padding: 10px;

      }
